<% if post.favorited_by?(current_user) %>
    <%= link_to post_favorites_path(post), method: :delete do %>
      <span style="color: #550000;">♥<%= post.favorites.count %></span>
    <% end %>
<% else %>
    <%= link_to post_favorites_path(post), method: :post do %>
      <span style="color: #550000;">♡<%= post.favorites.count %></span>
    <% end %>
<% end %>