<h1 class="text-center pt-5">Follow Users</h1>
<% if @users.exists? %>
<div class="container pt-3">
  <div class="row">
    <!--ユーザー一覧の部分テンプレート-->
    <%= render 'users/list', users: @users %>
  </div>
</div>
<% else %>
  <strong><p class="text-center pt-5">" No Users "</p></strong>
<% end %>