<div id="carouselExampleIndicators" class="carousel slide text-center" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner mx-auto p-5">
    <div class="carousel-item active" data-interval="3500">
      <div class="d-block w-100"style="width: 100px; height: 500px;"><%= image_tag 'cake1.jpeg' %></div>
      <div class="carousel-caption">
        <h1 class="text-center pt-4">welcome to Sweets room !!</h1>
      </div>
    </div>
    <div class="carousel-item"data-interval="3500">
      <div class="d-block w-100"style="width: 100px; height: 500px;"><%= image_tag 'cake2.jpeg' %></div>
      <div class="carousel-caption">
        <h1 class="text-center pt-5">About</h1><br>
        <p class="text-left pt-5">「Sweets room 」は、スイーツ好きが集まるサイトです。<br>
          スイーツについて投稿をしたり、誰かが投稿した内容を見ることができます。<br>
          あなたもオススメのスイーツをみんなに共有してみませんか？
        </p>
      </div>
    </div>
    <div class="carousel-item"data-interval="3500">
      <div class="d-block w-100" style="width: 200px; height: 500px;"><%= image_tag 'cake8.jpg' %></div>
      <div class="carousel-caption">
        <h5 class="text-center pt-5">新規登録がまだの方は Sign up へ<br>
          すでに登録済みの方は Log in へ
        </h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>